
.search-filter-wrapper {
    position: relative;
    margin-bottom: 2.5rem;
    padding: 0.2rem;
    border-radius: 0.75rem;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    width: 65%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

/* New styles for when the bar is scrolled and fixed to the top */
.search-filter-wrapper.scrolled {
    position: fixed;
    top: 0;
    margin-top: 50px;
    width: 100%;
    height: 3rem;
    width: 65%;
}

.search-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

@media (min-width: 768px) {
    .search-filter-container {
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
}

.search-input-wrapper {
    display: flex;
    position: relative;
    flex: 1;
    width: 100%;
}


@media (min-width: 768px) {
    .search-input-wrapper {
        width: auto;
    }
}

.search-input {
    display: flex;
    width: 100%;
    padding-left: 2.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 50px;
    background-color: #ffffff;
    outline: none;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.5s;
    color: #000000;
}

.search-input::placeholder {
    color: #000000;
}
.search-input:hover,
.search-input:focus {
  border: 1px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}


.search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: #a8a29e;
    width: 1.25rem;
    height: 1.25rem;
}

.filter-wrapper {
    display: flex;
    justify-content: center;
    height: 40px;
}

@media (min-width: 768px) {
    .filter-wrapper {
        position: absolute;
        right: 0;
        height: 40px;
        width: auto;
    }
    .filter-dropdown{
        margin-right: -14px;
        right: 0;
    }
}


.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 1.5rem; 
    padding-right: 1.5rem; */
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
    background-color: #727272;
    font-size: 13px;
    color: #ffffff;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transform: scale(1);
}
.filter-button:hover {
    background-color: #1B3C53;
    transform: scale(1.05);
}

.filter-icon {
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
}

.filter-dropdown {
    position: absolute;
    margin-top: 3rem;
    width: 12rem;
    background-color: #141414;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.filter-dropdown-item {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
    color: #e0e0e0;
}
.filter-dropdown-item:hover {
    background-color: #000000;
}

.filter-dropdown-item.active {
    background-color: #000000;
    font-weight: 600;
}

.current-filter-info {
    margin-top: 1rem;
    color: #a8a29e;
    font-size: 0.875rem;
}

.current-filter-highlight {
    font-weight: 600;
    color: #000000;
}