.tool-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 3rem;
    width: 100%;
    padding: 0 1rem;
}
@media (max-width: 630px) {
    .tool-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
@media (min-width: 640px) {
    .tool-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 1024px) {
    .tool-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media (min-width: 1280px) {
    .tool-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.ToolCard{
    transition: all .3s;
    background: #fffffe;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ToolCard:hover{
    box-shadow: 0px 0px 30px 1px rgba(73, 73, 73, 0.3);
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.2s;
    color: rgb(0, 0, 0);
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.card:hover {
    transform: translateY(-5px);
}

.card-image-wrapper{
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
}


.card-image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    border: 1px solid #9a9a9a;
    z-index: 50;
}

.card-content {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0.5rem;
}

.card-description {
    color: #575757;
    font-size: 0.875rem;
    line-height: 1.4;
    flex-grow: 1;
    margin-bottom: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: auto;
}

.card-category-item {
    display: inline-flex;
    align-items: center;
    background-color: #b8b8b8;
    border: 0.5px solid #9a9a9a;
    color: #ffffff;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    white-space: nowrap;
}

.card-category-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

.no-tools-found {
    text-align: center;
    color: #a8a29e;
    font-size: 1.125rem;
    grid-column: span 4 / span 4;
}
